*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navbar-height: 13vh;

}


html {
  color-scheme: dark;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.fixedNavbar {
  background-color: hsl(0, 0%, 15%);
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  z-index: 10;
  padding-inline: 1%;
}

.fixedNavbar img {
  max-width: 25vw;
}

.fixedNavbar ul {
  list-style-type: none;
  overflow: hidden;
  margin-left: auto;
  font-size: 1.5rem;
}

.fixedNavbar li {
  float: left;
  padding-block: 4.5vh;
  transition: 0.3s;
}

.fixedNavbar li:hover {
  background-color: hsl(0, 0%, 23%);
}

.fixedNavbar a{
  padding-inline: 20px;
  color: whitesmoke;
  text-decoration: none;
}

.blogPost {
  display: grid;
  top: 16vh;
  position: relative;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.blog {
  background-color: hsl(0, 0%, 24%);
  padding-inline: 10px;
  padding-block: 10px;
  padding-bottom: 3.5vh;
  margin-inline: 10px;
  border-radius: 4px;
  margin-block: 2vh;
}

.blog p {
  font-size: 1.05rem;
  margin-bottom: 4vh;
  color: whitesmoke;
}

.blog img {
  width: 100%;
  border-radius: 2px;
  border: 1px solid hsl(0, 0%, 15%);
  margin-bottom: 1vh;
  max-height: 100vh;
}

.blog1Title {
  padding-bottom: 1vh;
  font-size: 2rem;
}

.blog a {
  background-color: hsl(0, 0%, 30%);
  text-decoration: none;
  color: whitesmoke;
  padding-inline: 10px;
  border-radius: 3px;
  padding-block: 15px;
  transition: 0.3s;
}

.blog a:hover {
  background-color: hsl(0, 0%, 35%);
}


.portfolio {
  --skew-angle: -5deg;
  --background: linear-gradient(
    45deg, 
    #12c2e9, 
    #c471ed, 
    #f64f59
    );
    
  margin-block: 30vh;
  color: whitesmoke;
  padding-inline: 5vw;
  padding-top: 10vh;
  position: relative;
  isolation: isolate;
  display: flex;
}

.portfolio::after {
  content: ''; 
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

.portfolio img {
  width: 22vw;
  border-radius: 100%;
}

.portfolio h2 {
  margin-inline: 5vw;
  margin-block: 8vh;
  font-size: 2.8rem;
}




.photography {
  overflow-x: hidden;
}

.slideShow {
  display: none;
}

.slideShow img {
  vertical-align: middle;
  max-width: 100vw;
  max-height: 80vh;
}













.mobileNavbar {
  opacity: 0;
}
.mobileTop {
  opacity: 0;
}

@media only screen and (max-width: 500px) {
  .fixedNavbar {
    opacity: 0;
  }
  .blogPost {
    top: 50px;
  }
  .mobileNavbar {
    opacity: 1;
    border-top: 1px solid hsl(0, 0%, 15%);
    background-color: hsl(0, 0%, 15%);
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-items: center;
    align-items: center;
    height: 80px;
  }

  .btn img{
    height: 30px;
  }
  .home {
    background-color: hsl(0, 0%, 15%) !important;
    z-index: 5;
  }
  .btn {
    margin: 0;
    width: 25vw;
    align-items: center;
    text-align: center;
    height: 80px;
    padding-block: 25px;
  }

  .btn:hover{
    background-color: hsl(0, 0%, 23%);
  }

  .mobileTop {
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: hsl(0, 0%, 15%);
    padding-block: 5px;
    text-align: center;
    height: 50px;
  }
  .mobileTop img {
    height: 40px;
  }
}
